<%-  include  ('partials/_header');  -%>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div>
                <label style="font-weight: bold;"> Wiki ID:  </label> <%=wiki._id%>
            </div>
            <div>
                <label style="font-weight: bold;"> Wiki repository ID: </label> <%=wiki.repositoryId%>
            </div>
            <div>
                <label style="font-weight: bold;"> Wiki pages :</label>
            </div>

            <% if(wiki.pages.length == 0){ %>
            <label style="color: red;">No pages added.</label>
            <% } else{ %>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Wiki Id</th>
                        <th>Title</th>
                        <th>Creator</th>
                        <th>Last update</th>
                        <th>Content</th>
                        <th>Optional Edit Message</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( var i = 0; i < wiki.pages.length; i++) { %>

                    <tr>
                        <td><%=  i + 1 %></td>
                        <td><%= wiki.pages[i].wikiId %></td>
                        <td><%= wiki.pages[i].title %></td>
                        <td><%= wiki.pages[i].creatorUsername %></td>
                        <td><%= wiki.pages[i].updateDate %></td>
                        <td><%= wiki.pages[i].content %></td>
                        <td><%= wiki.pages[i].optionalMessage %></td>
                        <td>
                            <a href="/pageedit/<%=wiki.pages[i]._id%>" class="btn btn-info">Edit</a>
                            <a href="/pagehistory/<%=wiki.pages[i]._id%>" class="btn btn-primary">History</a>
                        </td>
                    </tr>
                    <% } %>

                </tbody>
            </table>
            <% } %>
        </div>
    </div>
    <hr>

    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3>Add page to wiki</h3>
                    <form action="/addpage" method="POST">

                        <label for="">Selected wiki ID: <%= wiki._id %></label>
                        <div hidden class="form-group">
                            <label for="">Selected wiki identifier</label>
                            <input class="form-control" type="text" name="wikiId" value="<%= wiki._id %>"
                                placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="">Title</label>
                            <input required class="form-control" type="text" name="title" value="" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="">Creator</label>
                            <input required class="form-control" type="text" name="creatorUsername" value=""
                                placeholder="Creator username">
                        </div>
                        <div class="form-group">
                            <label for="">Content</label>
                            <textarea required class="form-control" name="content" placeholder="Markdown text"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">
                            Add page
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- MONGO DB JSON -->
<div class="container" style="margin-top: 4rem;">
    <hr>
    <div class="row justify-content-md-center mb-4">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <label>Data from Mongo DB:</label>
                </div>
                <div class="card-body">
                    <pre><%= wiki %></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<%-  include  ('partials/_footer');  -%>